<div class="row-fluid">
  <div class="span12 div-center text-center width-restrained">
    <h1>Players</h1>
    <br />
    <table class='players-table'>
      <thead>
        <tr>
          <th>Player Name</th>
          <th>Position</th>
          <th>Drafted?</th>
        </tr>
      </thead>

      <tbody>
      <% @players.each do |player| %>
        <tr>
          <td><%= player.name %></td>
          <td><%= player.position %></td>
          <td><%= player.drafted %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br />
  </div>
</div>



