// Place all the styles related to the Draft controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  width: 100%;
}

th {
  text-align: center;
  font-size: 1.25em;
  line-height: 1.75em;
}

tbody {
  border-top: 1px solid #8C8C8C;
}

select.select-list {
  width: 10em;
}

span.filter-label {
  font-size: 1.05em;
}
