<div class="row-fluid">
  <div class="span12 div-center text-center width-restrained">
    <h1>Results</h1>
    <br />
    <table class='results-table'>
      <thead>
        <tr>
          <th>Team Name</th>
          <th>Player Name</th>
          <th>Pick</th>
          <th>Draft Round</th>
        </tr>
      </thead>

      <tbody>
      <% @results.each do |result| %>
        <tr>
          <% if not result.player.nil? %>
            <td><%= result.team.name %></td>
            <td><%= result.player.name %></td>
            <td><%= result.pick %></td>
            <td><%= result.round %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
